<div class="card card-container bg-success">
  <div class="card-body text-white">
    <h3 class="text-center mb-35">{{ name }}</h3>
    <div class="d-flex justify-content-center mb-35">
      <ng-container *ngIf="photoSelected else noImage">
        <span class="bg-white circle-primary">
          <img [src]="photoSelected" width="268" height="282" style="border-radius: 50%;">
        </span>
      </ng-container>
      <ng-template #noImage>
        <span class="bg-white circle-primary">
          <i class="far fa-user fa-7x circle-second"></i>
        </span>
      </ng-template>
    </div>
    <ng-container *ngIf="userInformation else noUserInformation">
      <div class="px-4" style="font-size: 24px;">
        <div class="d-flex justify-content-between">
          <p class="font-weight-bold">Pasatiempo:</p>
          <p>{{ userInformation.hobby.name }}</p>
        </div>
        <div class="d-flex justify-content-between">
          <p class="font-weight-bold">Edad:</p>
          <p>{{ age }} años</p>
        </div>
      </div>
    </ng-container>
    <ng-template #noUserInformation>
      <div [style.cursor]="photoSelected ? 'default' : 'pointer'">
        <div class="d-flex align-items-center bg-white justify-content-between p-4 container-image-upload" *ngIf="photoSelected else chooseImage">
          <span class="text-primary">{{ file && file.name }}</span>
          <i class="fas fa-trash-alt text-danger" style="cursor: pointer;" (click)="removePhoto()"></i>
        </div>
        <ng-template #chooseImage>
          <div class="d-flex align-items-center bg-white justify-content-between p-4 container-image-upload" (click)="photoInput.click()">
            <input type="file" class="d-none" (change)="onPhotoSelected($event)" #photoInput>
            <span class="text-primary">Adjunta una foto</span>
            <i class="fas fa-cloud-download-alt text-primary"></i>
          </div>
        </ng-template>
      </div>
    </ng-template>
  </div>
</div>
