<div class="row justify-content-center mb-3">
  <div class="col-11">
    <div class="row align-items-center justify-content-center card-pokemon">
      <div class="col-lg-3">
        <img [src]="pokemon.image" width="120">
        <h3 class="text-center">{{ pokemon.name }}</h3>
      </div>
      <div class="col-lg">
        <div class="row align-items-center mb-3">
          <div class="col-4">HR</div>
          <div class="col">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
        <div class="row align-items-center mb-3">
          <div class="col-4">Ataque</div>
          <div class="col">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
        <div class="row align-items-center mb-3">
          <div class="col-4">Defensa</div>
          <div class="col">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
        <div class="row align-items-center mb-3">
          <div class="col-4">Ataque Especial</div>
          <div class="col">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
        <div class="row align-items-center mb-3">
          <div class="col-4">Defensa Especial</div>
          <div class="col">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
        <div class="row align-items-center mb-3">
          <div class="col-4">Velocidad</div>
          <div class="col">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
